---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.svelte';
import Work from '../components/Work.svelte';
import Education from '../components/Education.svelte';
import Projects from '../components/Projects.svelte';
import Certifications from '../components/Certifications.svelte';
import Blogs from '../components/Blogs.svelte';
import Files from '../components/Files.svelte';
import Contact from '../components/Contact.svelte';
import AboutContent from '../content/about.md';
import { getCollection } from 'astro:content';
import { works } from '../data/work';
import { education } from '../data/education';
import { certifications } from '../data/certifications';
import { files } from '../data/files';
import { contacts } from '../data/contact';

const blogEntries = await getCollection('blogs');
const blogs = blogEntries
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .map((entry) => ({
    title: entry.data.title,
    date: entry.data.date.toLocaleDateString('en-US', {
      day: 'numeric',
      month: 'long',
      year: 'numeric',
    }),
    description: entry.data.description,
    tags: entry.data.tags,
    slug: entry.slug,
  }));

const projectEntries = await getCollection('projects');
const projects = projectEntries.map((entry) => ({
  slug: entry.slug,
  title: entry.data.title,
  year: entry.data.year,
  description: entry.data.description,
  fullDescription: entry.data.fullDescription,
  image: entry.data.image,
  projectLink: entry.data.projectLink,
  repoLink: entry.data.repoLink,
  technologies: entry.data.technologies,
}));
---

<Layout>
  <Navigation client:load>
    <div slot="about" class="space-y-3 text-gray-700 dark:text-gray-300">
      <AboutContent />
    </div>
    <div slot="work">
      <Work client:load works={works} />
    </div>
    <div slot="studies">
      <Education client:load items={education} />
    </div>
    <div slot="projects">
      <Projects client:load items={projects} />
    </div>
    <div slot="certifications">
      <Certifications client:load items={certifications} />
    </div>
    <div slot="blogs">
      <Blogs client:load items={blogs} />
    </div>
    <div slot="files">
      <Files client:load items={files} />
    </div>
    <div slot="contact">
      <Contact client:load items={contacts} />
    </div>
  </Navigation>
</Layout>
